<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/header :: navbar}"></div>

<div class="container mt-5" style="max-width: 90%">
    <div class="card shadow p-4">
        <h2 class="fw-bold text-center mb-2" >Job List</h2>
<!--    Search Bar -->
        <form class="row g-2 mb-3" method="get" th:action="@{/jobList}">
            <div class="col-md-6 col-sm-8">
                <input type="search" class="form-control" placeholder="Search by Job Title...." name="keyword"
                th:value="${keyword}">
            </div>
            <div class="col-md-6 col-sm-4 d-flex">
                <button type="submit" class="btn btn-primary">Search</button>
                <a th:href="@{/jobList}" class="btn btn-secondary">Reset</a>
            </div>
        </form>

        <!--Job List -->
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                <span class="fw-semibold">All Current Jobs</span>
                <span class="badge bg-secondary" th:text="'Jobs available: ' + ${jobs.size()}"> Total: 0</span>
            </div>

            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped table-hover align-middle mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Job Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Location</th>
                                <th scope="col">Salary</th>
                                <th scope="col">Category</th>
                                <th scope="col">Deadline</th>
                                <th scope="col" class="col-3 text-end"> </th>
                            </tr>
                        </thead>

                        <!--Data Rows-->
                        <tbody>
                        <tr th:each="job : ${jobs}">
                        <!--title -->
                            <td>
                                <strong th:text="${job.title}"></strong>
                            </td>
                            <!-- job description-->
                            <td>
                                <span th:text="${job.description}"></span>
                            </td>
                            <!-- job location -->
                            <td>
                                <span th:text="${job.location}"></span>
                            </td>
                            <!--salary -->
                            <td>
                                <span th:text="${job.salary}"></span>
                            </td>
                            <!--category -->
                            <td>
                                <span th:text="${job.category}"></span>
                            </td>
                            <!--deadline-->
                            <td>
                                <span th:text="${job.deadline}"></span>
                            </td>
                            <td class="text-end">
                                <a th:href="@{'/jobDetails/' + ${job.job_id}}" class="btn btn-small btn-outline-secondary">Details</a>
                                <a th:href="@{'/apply/'+ ${job.job_id}}" class="btn btn small btn-outline-info">Apply</a>
                            </td>
                        </tr>
                        <tr th:if="${jobs.isEmpty()}">
                            <td colspan="7" class="text-center">
                                <div>No Job Listings Currently Available</div>
                                <div class="small text-muted">
                                    Try another search, or check again later
                                </div>

                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>